.git
.gitignore
.github

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/

.vscode/
.idea/

notes/
tests/
terraform/

*.md
*.log
*.tmp

.env
.env.*
*.tfstate
*.tfstate.*
.terraform/
plan-output.txt

.DS_Store
Thumbs.db